* {
    background-color: #ececec;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.App {
    max-height: 100vh;
}

/* HEADER */

header {
    padding: 30px 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.navButtons {
    text-align: center;
    background-color: black;
}

.view-watched {
    background-color: whitesmoke;
}

.view-watched:hover {
    background-color: #a8a8a8;
}

header h2 {
    color: #f8f8f8;
    background-color: black;
}

header button {
    padding: 5px 25px;
    margin-right: 8%;
    border: none;
    border-radius: 35px;
    background-color: rgb(7, 158, 163);
    transition: all 0.5s ease;
}

header button:hover {
    background-color: rgba(7, 158, 163, 0.7);
    color: white;
}

.header-logo {
    color: rgb(7, 158, 163);
    font-size: 25px;
    padding: 10px 5px;
    border-radius: 10%;
    border-style: double;
    background-color: black;
    margin-left: 8%;
}

/* HOME PAGE */

.searchBar {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.searchBar input {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    background-color: white;
}

.h2Title {
    text-align: center;
    margin-top: 10px;
    
}

.checkbox {
    margin-left: 10px;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.movieContainer {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    padding-bottom: 10px;
    max-width: 200px;
    margin: 16px 16px 16px 16px;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content:center; 
     
}

.movieContainer:hover{
    background: rgb(218, 218, 218);
    transition: 0.3s;
}
.movieContainer:hover > h5 {
    background: rgb(218, 218, 218);
    padding-top: 5px;
    transition: 0.3s;
}
.movieContainer:hover > img {
    transform: scale(1.03);
    transition: 0.3s;
}

.movieContainer img {
    max-width: 180px;
    
}

.searchContainerBar {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.movieContainerBox {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    
}

.movieContainer button,
.movieContainer h5,
.movieContainer p {
    background-color: #fff;
}

.movieContainer h5 {
    color: rgb(2, 130, 134);
    margin: 10px 0px 5px 0px;
    
}

.movieContainer p {
    margin-bottom: 4px;

}

.movieContainer button {
    
    padding: 5px 25px;
    margin: 3px 2px 4px 2px;
    border: none;
    border-radius: 5px; 
    background-color: rgb(7, 158, 163);
    transition: all 0.5s ease;
    color: #fff;
    margin-top: auto;
  
    
}

.movieContainer button:hover {
    background-color: rgb(0, 128, 133);
    
}

.button-delete {
    margin-bottom: 10px;
}

.page-buttons {
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 8rem 0rem;
    width: 100%;
    height: 2.5rem;
    background-color: transparent;
}

.button-favourites span{
    background-color: transparent;
}

.page-buttons p {
    background-color: transparent;
}

.EditOrderButton:hover,
.DeleteAllButton:hover,
.DeleteWatchedButton:hover {
    background-color: rgb(0, 128, 133);
}

.EditOrderButton {
    font-size: 15px;
    padding: 5px 25px;
    border: none;
    border-radius: 35px;
    background-color: rgb(7, 158, 163);
    transition: all 0.5s ease;
    margin: 10px 0px;
    display: none;
}

.DeleteAllButton,
.DeleteWatchedButton {
    font-size: 15px;
    margin: 0px 5px 10px 5px;
    padding: 5px 25px;
    border: none;
    border-radius: 35px;
    background-color: rgb(7, 158, 163);
    transition: all 0.5s ease;
    position: relative;
    bottom: -80px;
}

.starRadio {
    display: none;
    background-color: #fff;
}

.star {
    background-color: #fff;
}

.starRatingContainer {
    background-color: #fff;
}

.home-page-app>.row {
    overflow-x: auto;
    flex-wrap: nowrap;
}

/* NAV */

.nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;


}

.nav span {
    margin: 0px 20px 0px 20px;
}

#nav-link{
    font-size: 15px;
    padding: 5px 25px;
    border: none;
    border-radius: 35px;
    background-color: rgb(7, 158, 163);
    transition: all 0.5s ease;
    text-decoration: none;
    color: white;

}

/* WATCH LATER PAGE */


.watchLater-page-app>.row {
    overflow-x: auto;
    flex-wrap: nowrap;
}
